<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activation Methods</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Toggle Recording</string>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>isController</key>
			<true/>
			<key>activatorListener</key>
			<string>com.filmstarr.stravaactivator.toggle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Start Recording</string>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>isController</key>
			<true/>
			<key>activatorListener</key>
			<string>com.filmstarr.stravaactivator.start</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Stop Recording</string>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>isController</key>
			<true/>
			<key>activatorListener</key>
			<string>com.filmstarr.stravaactivator.stop</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
			<key>footerText</key>
			<string>@deviationalist | filmstarr</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@deviationalist</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>action</key>
			<string>openTwitterProfile</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>filmstarr</string>
			<key>icon</key>
			<string>GitHub.png</string>
			<key>action</key>
			<string>openGitHubProfile</string>
		</dict>
	</array>
	<key>title</key>
	<string>Strava Activator</string>
</dict>
</plist>